<blockquote class="quote">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga adipisci
    autem, illum soluta quo saepe?
  </p>
  <footer>
    <div class="media">
      <div class="media__image quote__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__company">NYX Company</p>
      </div>
    </div>
  </footer>
</blockquote>
