<section class="block block--dark block--skew-left showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2 showcase__content">
    <picture class="showcase__image">
      <source
        srcset="images/ipad@2x.webp 2x, images/ipad.webp 1x"
        type="image/webp"
      />
      <source
        srcset="images/ipad@2x.png 2x, images/ipad.png 1x"
        type="image/png"
      />
      <img src="images/ipad.png" alt="" />
    </picture>
    <div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab minima
            quas laborum vitae corporis nemo deleniti a similique molestias
            architecto fuga, voluptates, molestiae perspiciatis expedita.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab minima
            quas laborum vitae corporis nemo deleniti a similique molestias
            architecto fuga, voluptates, molestiae perspiciatis expedita.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab minima
            quas laborum vitae corporis nemo deleniti a similique molestias
            architecto fuga, voluptates, molestiae perspiciatis expedita.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
